<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
	<article class="posts">
	
		<div class="row">
		<div class="col-xs-12">
			{{ partial "header.html" . }}

			<div id="posts-list">
			{{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}
				<section>
				<h1 class="site-date-catalog">{{ .Key }}</h1>
				{{ range .Pages }}
				<div class="row posts-line">


					<div class="col-xs-2">
						<a href="{{ .Params.preview }}" target="_blank">
							<img src="images/{{.Params.categories}}.png" width="75px">
						</a>
					</div>


					<div class="col-xs-10 posts-title">
						<div class="col-xs-12">
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</div>
						<div class="col-xs-12 row post-tags">
							{{ range .Params.tags }}
								<div class="post-tag">
									<a href="/tags/{{ lower . }}/">{{ . }}</a>
								</div>
							{{ end }}
						</div>
						<div class="col-xs-12 post-date">
							Last Updated: <time datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "01/02"}}</time>
						</div>
					</div>
				</div>
				{{ end }}
				</section>
			{{ end }}
			</div>
			{{ partial "footer.html" . }}
			</div>
		</div>
	</article>
	{{ partial "scripts.html" . }}
</body>

</html>